
/*
font-family: futura-pt,sans-serif;
font-weight: 400;

font-family: futura-pt,sans-serif;
font-weight: 300;

font-family: futura-pt-condensed,sans-serif;
font-weight: 400;

font-family: futura-pt-condensed,sans-serif;
font-weight: 800;
*/

* {
    box-sizing: border-box !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 10px;
    font-family:  futura-pt, Lato,'Helvetica Neue' ,Arial,  Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}



section {
  border: 1px solid steelblue;
   height: 90vh;
   position: relative;
}

.image-container{
  border: 2px solid steelblue;
  height: 20vh;
}

.slope-graph-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 80%;
}
